.header{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 8px;
    color:#1f1f1f;
    margin:0;
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
}

.header div{
    width:20px;
    height: 4rem;
    background-color:#f9462b;
    display: inline-block;
    position: relative;
    top:0.5rem;
}

.header:active div{
    animation: rotate 10s ease-in-out 0s;
}

.header{
    transform: scale(0.7);
}

@keyframes rotate {
    100%{
        transition: all 2s ease-in-out;
        transform: rotate(36000deg);
    }
}